$primary-yellow: #fff159;
$primary-white: #fff;
$primary-grey03: #e6e6e6;
$primary-black: #333;

$primary-grey04: rgba(0, 0, 0, 0.04);
$primary-grey055: #0000008c;
$primary-grey06: #33333399;
$primary-grey09: #333333e6;
$background-grey: #e7e7e7;
$secondary-grey: #8c8c8c;
$third-grey: #666;

$border-light-grey: #f5f5f5;

$primary-blue: #3483fa;

$primary-green: #00a650;
